%html
  %head
    %title BHUGA WOOGA
    %link{:rel => 'stylesheet', :href => '/css/bhuga.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => '/css/grid.css', :type => 'text/css', :media => 'screen, projection'}
    %script{:type => 'text/javascript', :src =>'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src =>'/js/vibrate.js'}
    %script{:type => 'text/javascript', :src =>'/js/explosion.js'}
    %script{:type => 'text/javascript', :src =>'/js/bhuga.js'}
  %body
    #main
      #brown-background
        #container.container_12
          #header.grid_9
            #site-name.grid_12.alpha.omega
              %h1.bigtitle
                %a{:href => '/' } BHUGA WOOGA!
            #about
              I'm Ben Lavender, and I'm on nerd stuff like a Velociraptor on a
              turkey. I've done all of the following as work. I would say I've
              been paid to do them all, but that's asking a lot in the world of
              startups. Oh well.  
              %ul
                %li Pull Cable
                %li Write Ruby
                %li Develop in Rails
                %li Manage Infrastructure with Puppet
                %li Manage Routers
                %li Manage Switches and other network components
                %li Determine hardware requirements and assist in purchasing
                %li Hustle customers (but technical customers, so don't get excited)
                %li Spreadsheets, financials, and more
                %li Write PHP for sizable projects
                %li Manage Drupal installations with over 100 modules
                %li Be primarily responsible for a 100-server farm
                %li Rack servers
                %li Design and implement an auto-scaling AWS infrastructure
                %li Troubleshoot webapps that end up being layer 2 problems
                %li Manage, tweak, caress, and generally soothe MySQL databases
                %li Write Perl
                %li Write Java
                %li Act as front-line support for technical customers
                %li Administrate mail servers
                %li Write internal tools for large companies
                %li Fundraising
                %li Twiddle like every freaking bit Linux has, it seems
                %li Write Javascript
                %li Write lots of open-source stuff
                %li Debug misbehaving vendor applications
                %li Configure the kind of bloated enterprise software that I don't understand why people keep buying (Openview, in this case)
                %li Type out all of the old-school protocols in telnet to figure out some problem
                %li Self-manage projects from user interviews to deployment and delivery
                %li Act as buildmaster between 15 remote developers and a QA team
                %li Handle security incidents
                %li Virtualize a legacy infrastructure
                %li Visualize testing infrastructure
                %li Tons of other crap made obsolete by Heroku
                %li Tons of other crap made obsolete by the cloud
                %li Tons of other crap made obsolete by Puppet and Chef
                %li Tons of other crap made obsolete by Google
                %li Tons of other crap made obsolete by Father Time
                %li Tons of other crap that will never* be obsolete.
              #footnote
                * Not actually never
              #resume-intro
                So all of that stuff's not enough? Need a resume?
              #resume
                Work History
                %ul
                  %li 
                    %h4 Late 2010-Present
                    .history Dydra
                  %li 
                    %h4 Aug 2009 - Late 2010
                    .history Freelancing
                  %li
                    %h4 Aug 2007 - Aug 2009
                    .history Openband
                  %li
                    %h4 2004-Aug 2007
                    .history Freelance Web Development
                  %li
                    %h4 1998-2004
                    .history IDS - UniversalCom - Nuvox
                     



