%h1#about.grid_8 Who's this Ben guy?
#description.grid_8
  %img#faceshot.vibrate{:src => '/images/faceshot.png'}
  %p
    Ben's the ridiculous guy who thought making this website would be a good
    idea. He goes by
    %span.dinosaur bhuga
    on every website that matters, and somehow thinks that's a good enough idea
    that he's done it for years. Google that shit.

  %h2 Work
  %p
    Ben does programming, operations, and pretty much whatever nerdy needs
    doing. I'm currently looking to improve my development skills closer to the
    frontend.

  %h2 Play
  %p
    Ben does Kung Fu and loves his little neighborhood, which is the quiet end
    of the French Quarter and the Marigny in New Orleans.

  %h2 Talk to Ben
  %p
    More contact methods than anyone should need are on the right, and you can
    find him as
    %span.dinosaur blavender
    inside the Google Intergalatic Cube's internal messaging system.

  %h2 Hire Ben
  %p
    Ben's looking for work as of September 2011. Check out his
    %a{:href => '/cv'} CV
    if you need that kind of thing, or the Github'n'such on the right.

