%h1#acknowledgements.grid_8.dinosaur Thanks everybody!
#acknowledgements.grid_8
  I ripped off a number of people's ideas and content to make this site:
  %ul
    %li
      %a{:href => 'http://qwantz.com'} Dinosaur Comics
      unwittingly provided some dinosaur images
    %li
      %a{:href => 'http://cmstudio.com'} CMStudio
      had some dinosaur pictures
    %li
      %a{:href => 'http://www.zurb.com/playground/jquery-raptorize'} Zurb's raptorize plugin
      makes the world a happier place, and provides nice sounds and images
    %li Probably some other stuff I forgot about
  Thanks, guys.
