#posts.grid_8
  %h3 Blog Posts
  %ul
    - @posts.each do |post|
      %li.index-post
        #post-title
          %a{:href => "/#{post.slug}"} #{post.title}
- content_for :header
  %link{ :rel => "alternate", :type => "application/rss+xml", :title => "BHUGA WOOGA - feed", :href => "http://#{BASE_HOST}/feed"}
