#posts.grid_8
  %h2
    Blog Posts
    %a{:href => '/feed'}
      %img.rss{:src => image_path('trex-rss.png') }
  %ul
    - @posts.each do |post|
      %li.index-post
        #post-title
          %a{:href => "/#{post.slug}"} #{post.title}

- content_for :header do
  %link{ :rel => "alternate", :type => "application/rss+xml", :title => "BHUGA WOOGA - feed", :href => "http://#{ENV['BASE_HOST']}/feed"}
