#reviews.grid_8
  %h2
    Book Reviews
    %a{:href => '/books-feed'}
      %img.rss{:src => image_path('trex-rss.png') }
  .callout
    %p
      Here are reviews of most of the books I read. I write them not for you, but
      for me; I find that knowing I will write a review makes me read in a more
      critical, more useful way. Usefully, it leads to being able to put bad books
      down. When I find a major flaw in the first 20 pages, and I know the
      rest of the book is built on bullshit, and I'll have to write about how I
      kept reading it anyway, and I'll feel stupid. I recommend this system.  
    %p
      Nonetheless, if you're interested, here they are. Sometimes I forget, so this is
      not all of them.

  %ul
    - @book_reviews.each do |post|
      %li.index-post
        %a{:href => "/#{post.slug}"} #{post.title}
        %span.author  by #{post.author}

- content_for :header do
  %link{ :rel => "alternate", :type => "application/rss+xml", :title => "BHUGA WOOGA - book review feed", :href => "http://#{ENV['BASE_HOST']}/books-feed"}
