%html
  %head
    %title BHUGA WOOGA
    %link{:rel => 'stylesheet', :href => '/assets/all.css', :type => 'text/css', :media => 'screen, projection'}
    %script{:type => 'text/javascript', :src => '/assets/all.js'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3784741-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  = content :header
  %body
    .main-container
      -# this is inside the 1060px background with jagged edges
      #main-contained.centered
        %header
          %nav
            %ul
              %li
                %a{:href => '/about' } about
              %li
                %a{:href => '/blog'} writing
              %li
                %a{:href => '/books'} reading
              %li
                %a{:href => '/cv'} hire
            %a.explode.exploding-dinosaurs.vibrate{:href => '#'} -  exploding dinosaurs  - 
            -# this little fella appears when you click exploding dinosaurs
          #dinosaur-hello.hide.clearfix
            %img#talking-raptor{:src => '/images/raptor.png'}
            .callout
              Hi there! You've reached the homepage of
              %strong.dinosaur Ben Lavender!
              Ben is a computery person who partakes in many kinds of nerd
              tomfoolery, but mostly programming! You've found his home on the
              web, with the caveat that a lot his day-to-day stuff ends up on
              social networks, so this site makes him seem pretty stodgy.
              %br
              %strong Enjoy your stay.
              .right-triangle
              .right-triangle-border
          %h1
            %a{:href => '/'} BHUGA WOOGA!
        .clearfix
          %section.content
            = yield
          %section.sidebar
            = haml :sidebar

        %footer
          :markdown
            I don't believe in copyright. Copy my stuff and attribute it to your cat. I don't care. See
            [the acknowledgements](/acknowledgements) to see who helped me bring dinosaurs to life.

        -# these guys are backgroundish-images that will be absolutely positioned.
        %img#transparent-trex{:src => '/images/trex-crazyeye.png'}
        %img#transparent-utahraptor{:src => '/images/leaping-utahraptor.png'}
