%html
  %head
    %title BHUGA WOOGA
    %link{:rel => 'stylesheet', :href => '/css/bhuga.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => '/css/grid.css', :type => 'text/css', :media => 'screen, projection'}
    %script{:type => 'text/javascript', :src =>'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    -#%script{:type => 'text/javascript', :src =>'/js/jquery-1.4.3.js'}
    %script{:type => 'text/javascript', :src =>'/js/vibrate.js'}
    %script{:type => 'text/javascript', :src =>'/js/explosion.js'}
    %script{:type => 'text/javascript', :src =>'/js/bhuga.js'}
  %body
    #main
      #brown-background
        #container.container_12
          #header.grid_12
            #site-name.grid_10.alpha
              %h1 
                %a{:href => '/' } BHUGA WOOGA!
              %span#tagline Caveman Computing and whatever else I think of
            .grid_2.omega
              #profile-pic
                %img.framed{:src => '/images/camel.jpg', :alt => 'Ben and a Camel'}
                %span.tiny
                  Oh my god, at least one of them can open doors!
          #clearer.clear
          #content-grid.grid_12
            #content.alpha.grid_10
              = yield
            #sidebar.grid_2.omega
              You've found the homepage of Ben Lavender, intrepid technology explorer, and this is what he considers his "professional image".
          #clearer.clear
