%header
  %h1 Who made this awesome site?
  #profile-pic
    .frame
      %img{:src => '/images/camel.jpg', :alt => 'Ben and a Camel'}
    %span.caption
      Camels smell freaking terrible but I'm no hater.
  .callout
    :markdown
      That'd be [Ben Lavender.](/about) Want to tell him how amazing this site
      is? His fine social networks are below.

%article.github
  :markdown
    See Ben's **code** on **Github,** report **bugs,** and make **snotty
    comments** about his choice of **stylistic dogma.**

  %a{:href => 'http://github.com/bhuga'}
    %img{:src => '/images/octocat.png'}
%article.twitter
  :markdown
    Follow Ben on **Twitter,** where you can hear him **complain** about
    products and services that he will usually **purchase anyway.**

  %a{:href => 'http://twitter.com/bhuga'}
    %img{:src => '/images/twitter-bird.png'}
%article.facebook
  :markdown
    Ben is on **Facebook,** and feel free to contact him there if your
    inquiry involves **drinking** or cavorting in the **French Quarter,** the
    **Marigny,** or the **Bywater.**

  %a{:href => 'http://facebook.com/blavender'}
    %img{:src => '/images/f_logo_transparent.png'}
