<header>
  <h1>Who made this awesome site?</h1>
  <div id="profile-pic">
    <div class="frame">
      <img alt="Ben and a Camel" src="/images/camel.jpg"/>
    </div>
    <span class="caption">
      Camels smell freaking terrible but I'm no hater.
    </span>
  </div>
  <div class="callout">
    <p>

      That'd be <a href="/about">Ben Lavender.</a> Want to tell him how amazing this site
      is? His fine social networks are below.


    </>
  </div>
</header>
<article class="github">
  <p>

    You're welcome to see Ben's <strong>code</strong> on <strong>Github,</strong> report <strong>bugs,</strong> and
    <strong>get dramatic</strong> about his choice of <strong>stylistic dogma.</strong>


  </p>
  <a href="http://github.com/bhuga">
    <img src="/images/octocat.png"/>
  </a>
</article>
<article class="twitter">
  <p>

    You can follow Ben on <strong>Twitter,</strong> where you can hear him <strong>complain</strong> about
    products and services that he will usually <strong>purchase anyway.</strong>


  </p>
  <a href="http://twitter.com/bhuga">
    <img src="/images/twitter-bird.png"/>
  </a>
</article>
<article class="facebook">
  <p>

    Ben is on <strong>Facebook,</strong> and feel free to contact him there if your
    inquiry involves <strong>drinking</strong> or <strong>cavorting</strong> in the <strong>French Quarter,</strong>
    the <strong>Marigny,</strong> or the <strong>Bywater.</strong>


  </p>
  <a href="http://facebook.com/blavender">
    <img src="/images/f_logo_transparent.png"/>
  </a>
</article>
