body {
  background-color: #c2ffc2;
  background-image: url('/images/leather_1_op4.png');
  margin: 0px;
  text-align: center;
  font-family: Tahoma, sans-serif;

  ul#navbar {
    padding-left: 0px;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
    li {
      padding-right: 20px;
      padding-left: 20px;
      display: inline;
    }
  }

  h3, h2, button.dsq-button-small, button.dsq-button span, a#dsq-like-thread-button span.dsq-toolbar-label, .dinosaur {
    font-family: '26Regular';
  }
 
  a {
    color:#660000;
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: #664444;
  }

  #brown-background {
    background-image: url('/images/wide-brown.png');
    width: 1060px;
    margin: 0 auto;
    text-align: left;
    min-height: 100%;
  }

  #site-name {
    font-family: '26Regular';
    text-align: center;
    h1 {
      font-size: 80px;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    span#tagline {
      font-size: 20px;
    }
  }

  #profile-pic {
    padding-top: 15px;
  }

  #where-am-i {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .snetwork-box {
    margin-top: 8px;
    border: 1px solid #660000;
    border-radius: 3px;
    .description {
      padding-left: 4px;
      padding-right: 4px;
    }
    img {
      width: 100%;
    }
  }

  #github {
    background-color: #f8f8f8;
  }

  #twitter {
    background-color: #e0eef5;
  }

  #facebook {
    color: #ffffff;
    background-color: #3B5998;
  }
  .tiny {
    font-size: 80%;
  }

  .framed {
    padding:1px;
    border:1px solid #021a40;
    background-color:#22c122;
  }

  .vibrate {
    padding: 3px;
    display:block;
  }

  .author {
    font-size: 80%;
    margin-left: 15px;
  }

  .dsq-comment-header-meta-wrapper {
    font-family: '26Regular';
  }

  #post-body {
    font-size: 120%;
  }

  pre {
    border: solid #380000 4px;
    background-color: #fcf7ec;
    overflow: auto;
    margin-left: 15px;
    code {
    }
  }

  #sidebar {
    padding-top: 20px;
  }
}

@font-face {
    font-family: '26Regular';
    src: url('/fonts/jurassic-webfont.eot');
    src: url('/fonts/jurassic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/jurassic-webfont.woff') format('woff'),
         url('/fonts/jurassic-webfont.ttf') format('truetype'),
         url('/fonts/jurassic-webfont.svg#26Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
