body {
  background-color: #c2ffc2;
  background-image: url('/images/leather_1_op4.png');
  margin: 0px;
  text-align: center;
  font-family: Tahoma, sans-serif;
  #container {
    z-index: 5;
    position: relative;
  }

  #where-am-i {
    text-align: center;
  }

  #trex-apologizing {
    img.trex {
      float:left;
      width:300px;
      height:300px;
    }
  }

  #dinosaur-hello {
    display: none;
    padding-right: 10px;
    padding-bottom: 10px;
    #message {
      background-color: #fefee5;
      font-size: 16px;
      width: 550px;
      margin-left:30px;
    }
    #talking-raptor {
      float: right;
      height: 190px;
      width: 120px;
      padding-left:40px;
    }

    .triangle-right {
        position:relative;
        padding:15px;
        margin:1em 0 3em;
        /* css3 */
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
    }
    .triangle-right.right {
        margin-right:40px;
    }
    .triangle-right:after {
        content:"";
        position:absolute;
        bottom:-20px; /* value = - border-top-width - border-bottom-width */
        left:50px; /* controls horizontal position */
        border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
        border-style:solid;
        border-color:#fefee5 transparent;
        /* reduce the damage in FF3.0 */
        display:block;
        width:0;
    }
    .triangle-right.right:after {
        top:40%;
        right:-40px; /* value = - border-left-width - border-right-width */
        bottom:auto;
        left:auto;
        border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
        border-color:transparent #fefee5;
    }


  }

  ul#navbar {
    padding-left: 0px;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
    li {
      padding-right: 20px;
      padding-left: 20px;
      display: inline;
    }
  }

  h3, h2, button.dsq-button-small, button.dsq-button span, a#dsq-like-thread-button span.dsq-toolbar-label, .dinosaur {
    font-family: '26Regular';
  }

  a {
    color:#660000;
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: #663333;
  }

  #brown-background {
    background-image: url('/images/wide-brown.png');
    width: 1060px;
    margin: 0 auto;
    text-align: left;
    min-height: 100%;
  }

  #site-name {
    font-family: '26Regular';
    text-align: center;
    h1 {
      font-size: 95px;
      margin-bottom: 15px;
      margin-top: 40px;
    }
    span#tagline {
      font-size: 20px;
    }
  }

  #profile-pic {
    padding-top: 15px;
  }

  #where-am-i {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 120%;
  }

  .snetwork-box {
    margin-top: 8px;
    border: 1px solid #660000;
    border-radius: 3px;
    .description {
      padding-left: 4px;
      padding-right: 4px;
    }
    img {
      width: 100%;
    }
  }

  #github {
    background-color: #f8f8f8;
  }

  #twitter {
    background-color: #e0eef5;
  }

  #facebook {
    color: #ffffff;
    background-color: #3B5998;
  }
  .tiny {
    font-size: 60%;
  }

  .smaller {
    font-size: 80%;
  }

  .framed {
    width: 100%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#22c122;
  }

  .vibrate {
    padding: 3px;
    display:block;
  }

  .author {
    font-size: 80%;
    margin-left: 15px;
  }

  .dsq-comment-header-meta-wrapper {
    font-family: '26Regular';
  }

  #post-body {
    font-size: 120%;
  }

  pre {
    border: solid #380000 4px;
    background-color: #fcf7ec;
    overflow: auto;
    margin-left: 15px;
    code {
    }
  }

  .post-date {
    color: #444444;
  }

  #sidebar {
    padding-top: 20px;
  }

  #footer {
    text-align: center;
    font-size: 80%;
    margin-top: 45px;
    padding-bottom: 15px;
  }

  #about {
    #skills, #legend {
      li {
        padding: 5px;
        color: #611;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        vertical-text-align: center;
        min-height: 43px;
        width: 45%;
        margin: 4px;
        font-weight: bold;
        background-color: #ffffbc;
        background-image: url('/images/leather_1_op4.png');
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 4px solid #660000;
      }
      .like {
        background-color: #99ff99;
      }
      .good {
        color: #330000;
      }
    }
  }

  #transparent-trex {
    position:fixed;
    height:600px;
    width:600px;
    top:0px;
    left:0px;
    z-index:3;
    filter:alpha(opacity=20);
    opacity:0.2;
  }

  #transparent-utahraptor {
    position:fixed;
    height:600px;
    width:600px;
    top:0px;
    left:500px;
    z-index:3;
    filter:alpha(opacity=20);
    opacity:0.2;
  }
}

@font-face {
    font-family: '26Regular';
    src: url('/fonts/jurassic-webfont.eot');
    src: url('/fonts/jurassic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/jurassic-webfont.woff') format('woff'),
         url('/fonts/jurassic-webfont.ttf') format('truetype'),
         url('/fonts/jurassic-webfont.svg#26Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
