body {
  .pteradactyl {
    position: absolute;
    background: url('/images/pteradactyl.png');
    height: 150px;
    width: 350px;
    z-index: 10;
  }


  /*
    layout concerns
  */
  background-color: #c2ffc2;
  background-image: url('/images/leather_1_op4.png');
  margin: 0px;
  text-align: center;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  #container {
    z-index: 5;
    position: relative;
  }

  .hidden {
    display: none;
  }

  #dinosaur-hello {
    padding-right: 10px;
    padding-bottom: 10px;
    #message {
      background-color: #fefee5;
      font-size: 16px;
      width: 550px;
      margin-left:30px;
    }
    #talking-raptor {
      float: right;
      height: 180px;
      width: 120px;
      padding-left:40px;
    }

    .triangle-right {
        position:relative;
        padding:15px;
        margin:1em 0 3em;
        /* css3 */
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
    }
    .triangle-right.right {
        margin-right:40px;
    }
    .triangle-right:after {
        content:"";
        position:absolute;
        bottom:-20px; /* value = - border-top-width - border-bottom-width */
        left:50px; /* controls horizontal position */
        border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
        border-style:solid;
        border-color:#fefee5 transparent;
        /* reduce the damage in FF3.0 */
        display:block;
        width:0;
    }
    .triangle-right.right:after {
        top:40%;
        right:-40px; /* value = - border-left-width - border-right-width */
        bottom:auto;
        left:auto;
        border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
        border-color:transparent #fefee5;
    }
  }

  ul#navbar {
    padding-left: 0px;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
    li {
      padding-right: 20px;
      padding-left: 20px;
      display: inline;
    }
  }

  // everything's written in freaking DINOSAUR
  h3, h2,
  button.dsq-button-small,
  button.dsq-button span,
  a#dsq-like-thread-button span.dsq-toolbar-label,
  .dsq-comment-meta a,
  .dsq-comment-actions a,
  .dinosaur {
    font-family: '26Regular';
  }

  .dsq-comment-meta a,
  .dsq-comment-actions a {
    background-color: #B3A8A7;
    font-family: '26Regular';
    border: thin solid black;
    padding: 5px 4px 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 10px;
  }
  #dsq-content {
    .dsq-comment-actions, .dsq-comment-meta {
      overflow: visible;
    }
    .dsq-commenter-name {
      font-family: '26Regular';
    }
    .dsq-comment-flag {
      font-family: 'Disqus';
    }
  }
  .dsq-append-post {
    margin-top: 50px;
  }

  a {
    color:#660000;
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: #663333;
  }

  #brown-background {
    background-image: url('/images/wide-brown.png');
    width: 1060px;
    margin: 0 auto;
    text-align: left;
    min-height: 100%;
  }

  #site-name {
    font-family: '26Regular';
    text-align: center;
    h1 {
      font-size: 90px;
      margin-bottom: 15px;
      margin-top: 40px;
    }
    span#tagline {
      font-size: 20px;
    }
  }

  #profile-pic {
    padding-top: 15px;
  }

  #where-am-i {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 120%;
  }

  .snetwork-box {
    margin-top: 8px;
    border: 1px solid #660000;
    border-radius: 3px;
    .description {
      padding-left: 4px;
      padding-right: 4px;
    }
    img {
      width: 100%;
    }
  }

  #github {
    background-color: #f8f8f8;
  }

  #twitter {
    background-color: #e0eef5;
  }

  #facebook {
    color: #ffffff;
    background-color: #3B5998;
  }
  .tiny {
    font-size: 60%;
  }

  .smaller {
    font-size: 80%;
  }

  .framed {
    width: 100%;
    padding:1px;
    border:1px solid #021a40;
    background-color:#22c122;
  }

  .vibrate {
    padding: 3px;
    display:block;
  }

  pre {
    border: solid #380000 4px;
    background-color: #fcf7ec;
    overflow: auto;
    margin-left: 15px;
    code {
    }
  }

  #sidebar {
    padding-top: 20px;
  }

  #footer {
    text-align: center;
    font-size: 80%;
    margin-top: 45px;
    padding-bottom: 15px;
  }

  /*
    transparent background dinosaurs, every page.
  */
  #transparent-trex {
    position:fixed;
    height:600px;
    width:600px;
    top:0px;
    left:0px;
    z-index:3;
  }

  #transparent-utahraptor {
    position:fixed;
    height:600px;
    width:600px;
    top:0px;
    left:500px;
    z-index:3;
  }

  #plesiosaur {
    position: fixed;
    display: none;
    left: 0px;
    bottom: -30px;
    height: 147px;
    width: 150px;
  }

  /*
    stuff for the CV page
  */
  #cv {
    #intro {
      background-color: #fefee5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 15px;
      h2 {
        text-align: center;
        margin-top:0px;
      }
    }
    #skills, #legend {
      li {
        padding: 5px;
        color: #611;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        vertical-text-align: center;
        min-height: 43px;
        width: 45%;
        margin: 4px;
        font-weight: bold;
        background-color: #ffffbc;
        background-image: url('/images/leather_1_op4.png');
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 4px solid #660000;
      }
      .like {
        background-color: #99ff99;
      }
      .good {
        color: #330000;
      }
    }
  }

  /*
    stuff for about page
  */
  h1#about {
    font-family: '26Regular';
    text-align: center;
  }
  #description {
    img#faceshot {
      float: right;
      width: 230px;
      height: 230px;
      margin-left:20px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      border: 5px solid #660000;
      padding: 0px;
      background-color: #ffffbc;

    }
    #nerd-tidbits {
      img#bronto-gangsta {
        float: left;
      }
      h3 {
        text-align: center;
      }
      clear: right;
      background-color: #fefee5;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      border: 5px solid #660000;
      padding: 10px;
    }
  }

  /*
    stuff for the individual posts page
  */
  .post-date {
    color: #444444;
  }

  #post-body {
    font-size: 120%;
  }

  .author {
    font-size: 80%;
  }

  .dsq-comment-header-meta-wrapper {
    font-family: '26Regular';
  }

  /*
    trexy says sorry on the 404 page
  */
  #trex-apologizing {
    img.trex {
      float:left;
      width:300px;
      height:300px;
    }
  }

  /*
    acknowledgements page
  */
  h1#acknowledgements {
    text-align: center;
  }

  /*
    stuff used on book review and post indexes
  */
  .intro {
    background-color: #fefee5;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border: 5px solid #660000;
    padding: 10px;
  }
  #posts, #reviews {
    h2 {
      font-size: 35px;
      a {
        img {
          vertical-align:middle;
        }
      }
    }
  }

  /* stuff used on the front (index) page
  */
  #blogs, #reviews {
    span.header {
      font-family: '26Regular';
      font-size: 35px;
      a {
        font-weight: normal;
      }
      img {
        vertical-align:middle;
      }
    }
  }
}

/*
  jurassic park up in the hizzy
*/
@font-face {
    font-family: '26Regular';
    src: url('/fonts/jurassic-webfont.eot');
    src: url('/fonts/jurassic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/jurassic-webfont.woff') format('woff'),
         url('/fonts/jurassic-webfont.ttf') format('truetype'),
         url('/fonts/jurassic-webfont.svg#26Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
