#cv {
  .callout {
    h4 {
      font-weight: bold;
    }
    .huge {
      font-size: 4em;
      line-height: 1em;
      margin-top: 0em;
    }
  }
  #skills, #legend {
    li {
      box-sizing: border-box;
      padding: 5px 50px 5px 50px;
      color: #611;
      vertical-align: top;
      text-align: center;
      vertical-text-align: center;
      margin: 4px;
      font-weight: bold;
      background-color: #ffffbc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 4px solid #660000;
      max-width: 625px;
    }
  }
  #legend li {
    display: block;
    height: 250px;
    line-height: 250px;
    background-size: 51%;
    &.like {
      text-align: left;
    }
    &.good {
      text-align: right;
    }
  }
  #skills li {
    display: inline-block;
    width: 278px;
    min-height: 63px;
    &.like {
      //text-align: left;
      background-size: 50px 50px;
      padding-left: 5px;
    }
    &.good {
      //text-align: right;
      background-size: 50px 50px;
      padding-right: 5px;
    }
    &.like.good {
      padding: 5px 50px 5px 50px;
      background-size: 50px 50px, 50px 50px;
    }
  }
  #skills, #legend {
    .like {
      background-color: #99ff99;
      background-image: url('/images/happy-raptor.png');
      background-position: right top;
      background-repeat: no-repeat;
    }
    .good {
      background-image: url('/images/weapon-raptor.png');
      background-position: left top;
      background-repeat: no-repeat;
    }
    .like.good {
      background-image: url('/images/happy-raptor.png'), url('/images/weapon-raptor.png');
      background-position: right top, left top;
      background-repeat: no-repeat;
    }
  }
  .education {
    margin-top: 4em;
    h2 {
      margin: 0;
    }
  }
}
