header {
  text-align: center;
  nav {
    display: inline-block;
    ul li {
      float: left;
      font-family: 'DINOSAUR!';
      padding: 10px 30px 10px 30px;
      font-size: 1.5em;
    }
    h3 {
      margin-bottom: 0px;
      font-size: 2.5em;
    }
  }
  h1 {
    font-size: 6em;
    margin: 0px;
    padding: 0px;
  }
}
