@import 'variables';

#index {
  section {
    @media screen and (min-width: $index-section-bp) {
      float: left;
      width: 47%;
      margin-right: 3%;
    }
    @media screen and (max-width: $index-section-bp - 1) {
      margin-left:4%;
      margin-right:4%;
    }
    h2 {
      @media screen and (max-width: $index-section-bp - 1) {
        margin-top: 0%
      }
      display: inline-block;
      margin-bottom: 0px;
    }
    a img {
      vertical-align: bottom;
    }
  }
}
