#index {
  section {
    float: left;
    width: 47%;
    margin-right: 3%;
    h2 {
      display: inline-block;
      margin-bottom: 0px;
    }
    a img {
      vertical-align: bottom;
    }
  }
}
