body {
  background-color: #c2ffc2;
  background-image: image_url('leather_1_op4.png');
}

.main-container {
  background-image: image_url('wide-brown.png');
  background-repeat: repeat-y;
  width: 1060px;
  margin: 0 auto;
  min-height: 100%;
  #main-contained {
    width: 920px;
    z-index: 5;
    position: relative;
  }
}

.sidebar {
  width: 16.304%;
  float: right;
}

.content {
  width: 83.696%;
  float: left;
}
#transparent-trex {
  position: fixed;
  height: 600px;
  width: 600px;
  top: 0px;
  left: 0px;
  z-index: 3;
}

#transparent-utahraptor {
  position: fixed;
  height: 600px;
  width: 600px;
  top: 0px;
  left: 500px;
  z-index: 3;
}
#plesiosaur {
  position: fixed;
  display: none;
  left: 0px;
  bottom: -30px;
  height: 147px;
  width: 150px;
}
#pteradactyl {
  background-image: image_url('pteradactyl.png');
  position: fixed;
  height: 150px;
  width: 350px;
  z-index: 10;
  display: none;
}
