body {
  background-color: #c2ffc2;
  background-image: url('/images/leather_1_op4.png');
}

.main-container {
  background-image: url('/images/wide-brown.png');
  background-repeat: repeat-y;
  width: 1060px;
  margin: 0 auto;
  min-height: 100%;
  #main-contained {
    width: 920px;
    z-index: 5;
    position: relative;
  }
}

.sidebar {
  width: 16.304%;
  float: right;
}

.content {
  width: 83.696%;
  float: left;
}
#transparent-trex {
  position: fixed;
  height: 600px;
  width: 600px;
  top: 0px;
  left: 0px;
  z-index: 3;
}

#transparent-utahraptor {
  position: fixed;
  height: 600px;
  width: 600px;
  top: 0px;
  left: 500px;
  z-index: 3;
}
