@import 'variables';

$brown: #8f7d69;
$green: #c2ffc2;

body {
  @media screen and (max-width: $fixed-bp - 1) {
    background-color: $brown;
  }
  @media screen and (min-width: $fixed-bp) {
    background-color: #c2ffc2;
    background-image: image_url('leather_1_op4.png');
  }
}

.main-container {
  @media screen and (min-width: $fixed-bp) {
    width: 1060px;
    background-image: image_url('wide-brown.png');
    background-repeat: repeat-y;
  }
  margin: 0 auto;
  min-height: 100%;
  #main-contained {
    @media screen and (min-width: $centered-bp) {
      width: 920px;
    }
    z-index: 5;
    position: relative;
  }
}

.sidebar {
  float: right;
  @media screen and (max-width: $absolute-sidebar-bp - 1) {
    width: 27%;
    margin-right: 2%;
  }
  @media screen and (max-width: $wider-sidebar-bp - 1) and (min-width: $absolute-sidebar-bp) {
    margin-right: 2%;
    width: 18%;
  }
  @media screen and (min-width: $wider-sidebar-bp) {
    width: 16.304%;
  }
}

.content {
  float: left;
  @media screen and (max-width: $absolute-sidebar-bp - 1) {
    width: 71%;
  }
  @media screen and (max-width: $wider-sidebar-bp - 1) and (min-width: $absolute-sidebar-bp) {
    float: left;
    width: 80%;
  }
  @media screen and (min-width: $wider-sidebar-bp) {
    float: left;
    width: 83.696%;
  }
}
#transparent-trex {
  position: fixed;
  height: 600px;
  width: 600px;
  top: 0px;
  left: 0px;
  z-index: 3;
}

#transparent-utahraptor {
  position: fixed;
  height: 600px;
  width: 600px;
  top: 0px;
  left: 500px;
  z-index: 3;
}
#plesiosaur {
  position: fixed;
  display: none;
  left: 0px;
  bottom: -30px;
  height: 147px;
  width: 150px;
}
#pteradactyl {
  background-image: image_url('pteradactyl.png');
  position: fixed;
  height: 150px;
  width: 350px;
  z-index: 10;
  display: none;
}
