@import "variables";

.centered {
  margin: 0 auto;
}
.hide {
  display: none;
}
.vibrate {
  padding: 3px;
}
.text-centered {
  text-align: center;
}
.callout {
  background-color: $yellow;
  border-radius: 10px;
  padding: 10px;
  border: 5px solid $red;
  position: relative;
  max-width: 685px;
  a {
    font-weight: bold;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}
