@import "variables";
/*
jurassic park up in the hizzy
*/
@font-face {
  font-family: 'DINOSAUR!';
  src: url('/fonts/jurassic-webfont.eot');
  src: url('/fonts/jurassic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/jurassic-webfont.woff') format('woff'),
       url('/fonts/jurassic-webfont.ttf') format('truetype'),
       url('/fonts/jurassic-webfont.svg#26Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,.dinosaur {
  font-family: 'DINOSAUR!';
  font-weight: normal;
}
h2 {
  /* it's just wrong for headers to be bigger than the BHUGA WOOGA */
  @media screen and (max-width: $header-width2-bp - 1) {
    font-size: 3em;
  }
  @media screen and (min-width: $header-width2-bp) {
    font-size: 4em;
  }
}
a {
  text-decoration: none;
  color: $light-red;
}
a:visited {
  color: $red;
}
