$red: #600;
$dark-red: darken($red, 10);
$darker-red: darken($red, 20);
$light-red: lighten($red, 10);
$lighter-red: lighten($red, 20);

$yellow: #FEFEE5;

// responsive breakpoints
$fixed-bp: 1060px;
$centered-bp: 920px;
$wider-sidebar-bp: 935px;
$header-width-bp: 893px;
$header-width2-bp: 841px;
$header-width3-bp: 460px;

$index-section-bp: 907px;
$exploding-dinosaur-bp: 603px;
$absolute-sidebar-bp: 613px;
$rss-cutoff-bp: 580px;
$trex-resize-bp: 600px;

// talking dinosaur breakpoints
$hello-bp1: 904px;
$hello-bp2: 770px;
$hello-bp3: 525px;
